node_modules
npm-debug.log
Dockerfile
.dockerignore
config/config.env
logs
temp
*.md
.git
.gitignore
.vscode
*.swp
*.swo
.idea
*.iml
*.log
coverage
.env
test
tests
docs
README*
LICENSE

middlewares/*
controllers/*

!controllers/createTaskController.js
!controllers/getTaskController.js
!controllers/promoteTaskController.js
